@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 100;
  src: url('../../src/fonts/Jost-Thin.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 100;
  src: url('../../src/fonts/Jost-ThinItalic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 200;
  src: url('../../src/fonts/Jost-ExtraLight.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 200;
  src: url('../../src/fonts/Jost-ExtraLightItalic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 300;
  src: url('../../src/fonts/Jost-Light.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 300;
  src: url('../../src/fonts/Jost-LightItalic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  src: url('../../src/fonts/Jost-Regular.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 400;
  src: url('../../src/fonts/Jost-Italic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  src: url('../../src/fonts/Jost-Medium.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 500;
  src: url('../../src/fonts/Jost-MediumItalic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  src: url('../../src/fonts/Jost-SemiBold.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 600;
  src: url('../../src/fonts/Jost-SemiBoldItalic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  src: url('../../src/fonts/Jost-Bold.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 700;
  src: url('../../src/fonts/Jost-BoldItalic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 800;
  src: url('../../src/fonts/Jost-ExtraBold.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 800;
  src: url('../../src/fonts/Jost-ExtraBoldItalic.ttf');
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 900;
  src: url('../../src/fonts/Jost-Black.ttf');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 900;
  src: url('../../src/fonts/Jost-BlackItalic.ttf');
}